@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
}


.home-style{
    display: flex;
    align-items: center;
    height: 500px;
    background-color: black;
    color: whitesmoke;
   
}

.home-text{
    text-align: justify;
    padding: 20px;
}

/* Link design */

.link-style{
    color: whitesmoke;
    font-size: 50px;
    background-color: turquoise;
    padding: 10px;
    border-radius:50%;
}

.link-style:hover{
    color: whitesmoke;
    font-size: 50px;
    background-color:#F999B7 ;
    padding: 10px;
    border-radius:50%;
}

/* hero-section */
.banner-img{
    background-color: #9088D4;
    border:5px solid #FABB51;
    /* border-left: 10px solid #FF87CA;
    border-right:10px solid #84DFFF;
    border-top: 10px solid #84DFFF;
    border-bottom: 10px solid #FF87CA; */
}

.banner-img:hover{
    background-color: #716F81;
    border-left: 10px solid #FF87CA;
    border-right:10px solid #84DFFF;
    border-top: 10px solid #84DFFF;
    border-bottom: 10px solid #FF87CA;
}