

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
.contact-form input, textarea ,button{
        width: 70%;
        margin-top: 10px;
};

.contact-text{
    background-color: aqua;
    border: 2px solid whitesmoke;
}


.contact-style{
    display: flex;
    align-items: center;
    height: 400px;
    text-align: justify;
}

