
.skill-text{
    text-align:justify;  
}
.color-set{
    border-bottom: 10px solid aqua;
}

.skill-card{
    border: 1px solid black;
    background-color: rgb(77, 75, 75);
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s;
}

.skill-card:hover{
    border: 1px solid black;
    background-color: rgb(100, 97, 97);
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    transform: scale(1.05);
}

.skill-card img {   
    transition: transform 2s;
    
  }
  
  .skill-card img:hover {
    transform: scale(1.5) rotatey(360deg) ;
  }